/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-content {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 90% !important;
  height: 90% !important;
  overflow: auto; 
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #aaa;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.btn-edit
 {
  padding: 10px 20px 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #129cdc;
  color: #fff;
}
.add{
  background-color: #2faf6d;
}
.btn-edit:hover {
  opacity: 0.8;
}

.user-details-container {
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.user-details {
  margin-bottom: 20px;
}

.detail {
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
}

.value {
  margin-left: 10px;
}


.value {
  margin-left: 10px;
}

.user-details {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}


.detail {
  margin-bottom: 10px;
  
}

.label {
  font-weight: bold;
}

h2 {
  color: #333;
  margin-bottom: 10px;
}

h3{
  text-align: center;
}

.label {
  font-weight: bold;
  color: #666;
}

.value {
  color: #333;
}

footer {
  text-align: center;
  color: #666;
  padding: 10px 0;
}

